.btn {
    &,
    &:link,
    &:visited {
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1.5rem 6rem;
    border-radius: 10rem;
    font-weight: 700;
    display: inline-block;
    transition: all .2s;
    position: absolute;

    @include respond(tab-land){
        position: static;
    }
}

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        

        &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, 0.2);
        
    }
    

    &--white {
        background-color: $color-white !important;
        color: $color-primary;

        &::after {
            background-color: $color-white;
        }

        &:hover {
            background-color: $color-secondary !important;
            color: $color-white;
        }
    }

    
}


